/* Search Container */
.search-container {
  display: flex;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  border: 1px solid #ffefc1;
  width: 300px;
}

.search-input {
  background: none;
  border: none;
  outline: none;
  color: var(--text-color);
  padding: 10px 15px;
  font-size: 14px;
  width: calc(100% - 15px - 15px);
}
/* .search-input:focus{
  background-color: #fff7e0;
  border-radius: 8px;
} */
.search-container {
  position: relative;
}

.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--secondary-bg-color);
  border: 1px solid #dddddd;
  /* border-top: 0px; */
  border-radius: 8px;
  /* border-top-left-radius: 0%;
  border-top-right-radius: 0px; */
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: -4px 0 0px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: var(--text-color);
}

.suggestion-item:hover {
  background-color: var(--quaternary-bg-color);
}
