.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found > h1 {
  text-align: center;
}
.unset__not-found {
  width: unset;
  display: unset;
}
.unset__not-found > h1 {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .not-found {
    height: calc(100dvh - 60px);
  }
  .not-found > h1 {
    font-size: 30px;
    margin: unset;
  }
}
