#root {
  max-width: 1280px;
  max-height: 1380px;
  margin: auto auto;
  width: 100%;
}
.app {
  height: 750px;
  background-color: var(--secondary-bg-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
/*  Header Styling */
.header {
  height: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary-bg-color);
  padding: 10px 20px;
  max-width: calc(100% - 20px - 20px);
  font-family: Arial, sans-serif;
}
.header__right-side {
  display: flex;
  gap: 20px;
  height: 100%;
}
.header__right-side > .app-theme {
  background-color: var(--secondary-bg-color);
  border-radius: 8px;
  padding: 10px 15px;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}
.header__right-side > .app-developer-detiles {
  height: 100%;
  width: 40px;
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__details {
  height: calc(100% - 61px);
  background-color: var(--quaternary-bg-color);
  display: flex;
  /* overflow: scroll; */
  max-width: 100%;
}
.app__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: calc(100% - 20px);
  height: calc(100% - 20px - 20px);
  gap: 15px;
}
.app__right-side--top-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 100%;
}

.app-developer-image {
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border-radius: 50%;
}

@media only screen and (max-width: 1280px) {
  .card__details {
    height: unset;
  }
  #root {
    padding: unset;
    margin: unset;
  }
  .app {
    height: unset;
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .card__details{
    position: relative;
    top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .card__details {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .header,.header__right-side {
    gap: 4px;
  }
  .header__right-side > .app-theme {
    padding: 10px;
  }
}

/* total app border radius */

.weather__card--container,
.card__details,
.app {
  border-bottom-left-radius: 10px;
}
.app__right-side,
.card__details,
.app {
  border-bottom-right-radius: 10px;
}
.header,
.app {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
