:root {
  /* color */
  color-scheme: light dark;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100dvh;
  /* background: repeating-linear-gradient(
    45deg,
    #f5f5f5,
    #f5f5f5 10px,
    #e0e0e0 10px,
    #e0e0e0 20px
    ); */
  /* background-color: #f5f5f5; */
  /* background-image: radial-gradient(#000 10%, transparent 10%); */
  /* background-size: 20px 20px; */
  /* background: repeating-linear-gradient(
    45deg,
    #ddd 0px,
    #ddd 25px,
    #fff 25px,
    #fff 50px
  ); */
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 20'%3E%3Cpath fill='%23ddd' d='M0 10 Q 25 20, 50 10 T 100 10 V 20 H 0 Z'/%3E%3C/svg%3E");
  background-size: 100px 20px; */
}

/* Dark Theme */
[data-theme="dark"] {
  --primary-bg-color: #141414;
  --secondary-bg-color: #1f1f1f;
  --tertiary-bg-color: #2b2b2b;
  --quaternary-bg-color: #242424;

  --primary-bg-hover-color: #333333;
  
  --dot-color: #ffffff;
  --primary-color: #dcd4a1;
  --secondary-color: #c4ab68;
  --tertiary-color: #b7954c;
  --quaternary-color: #a07d3a;
  --accent-color: #f5b93d;
  --text-color: #ead9b0;
  --modal-close: #d99623;
}

/* Light Theme */
[data-theme="light"] {
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #fafafc;
  --tertiary-bg-color: #ffe08a;
  --quaternary-bg-color: #faf3e0;

  --primary-bg-hover-color:#ffffff;

  --dot-color: #000;
  
  --primary-color: #333333;
  --secondary-color: #666666;
  --tertiary-color: #777;    
  --quaternary-color: #555; 
  --accent-color: #ffce46;
  --text-color: #000;
  --modal-close:#3a3a3a;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
  background-color: var(--primary-bg-color);
  background-image: radial-gradient(var(--dot-color) 10%, transparent 10%);
  background-size: 20px 20px;
  color: var(--primary-color);
}

a {
  font-weight: 500;
  color: #181818;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



